.sceneControlDrag {
  position: absolute;
  top: 100px;
  left: 550px;
  background: #ffffff;
  padding: 15px 20px;
  border-radius: 10px;
  width: 339px;
}

.sceneResetButton {
  height: 38px;
  background: #E70A4E;
  border-radius: 10px;
  color: #ffffff;
  font-size: 16px;
  appearance: none;
  border: none;
  width: 100%;
  margin-top: 20px;
}
