.addMeshPopUp {
  position: fixed;
  top: 20vh;
  left: 45vw;
  z-index: 2;
  width: 297.58px;
  background: #ffffff;
  border-radius: 10px;
  padding: 15px 20px 15px 20px;

  p {
    font-size: 11px;
  }
}

