
.orthoCameraDrag {
  position: absolute;
  top: 20px;
  left: 1120px;
  background: #ffffff;
  padding: 15px 20px;
  border-radius: 10px;
  width: 205px;
}

.orthoControlPop {
  background: #ffffff;
  border-radius: 10px;
  padding: 3px 25px;
  position: absolute;
  min-width: max-content;
  left: 30px;
  top: 0;
  cursor: default;

  .hybridList {
    p {
      font-size: 11px;
      margin: 5px 0;
      cursor: pointer;
    }
  }


  .headerPop {
    margin: 12px 0;
    cursor: pointer;
  }
}
